{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - Add sub-manager
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center vh-100">
    <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
      <h1 class="text-center mt-5">Ajouter un sous manager</h1>
      <form action="" method="post" class="justify-content-center mt-4">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-between mt-3">
            <input type="submit" value="Envoyer" class="btn btn-primary">
            <a href="{% url 'home' %}" class="btn btn-outline-danger">Annuler</a>
          </div>
      </form>
      <div class="text-center mt-5">
        {% if inactive_submanagers %}
        <h1>Réactiver un sous manager</h1>
        {% endif %}
        {% for submanager in inactive_submanagers %}
          <a href="{% url 'activate_submanager' submanager.id %}" class="btn btn-outline-secondary">{{ submanager.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
