{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - History
{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-center vh-100">
  <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <p class="text-center">
        <a href="{% url 'submanager_page' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
    </p>
    <h1 class="text-center mt-5">Historique des tâches pour {{ submanager.name }}</h1>
    
    <form method="get" class="mt-4">
      <div class="d-flex justify-content-center container text-center">
        <div class="row">
          <div class="form-check form-switch col-auto mt-4">
            <label class="form-check-label" for="flexSwitchCheckDefault">Date unique</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="
              const date_start = document.getElementById('date_start');
              const date_end = document.getElementById('date_end');
              if (this.checked) {
                date_start.type = 'date';
                date_end.type = 'hidden';
                date_start.name = 'date';
                date_end.value = '';
              } else {
                date_start.type = 'date';
                date_end.type = 'date';
                date_start.name = 'date_start';
              }
              const label_date_end = document.querySelector(`label[for='date_end']`);
              const label_date_start = document.querySelector(`label[for='date_start']`);
              if (this.checked) {
                date_start.type = 'date';
                date_end.type = 'hidden';
                label_date_end.style.display = 'none';
                label_date_start.textContent = 'Date';
              } else {
                date_start.type = 'date';
                date_end.type = 'date';
                label_date_end.style.display = 'block';
                label_date_start.textContent = 'Date de début';
              }
            ">
          </div>  
          <div class="col-auto">
            <label for="date_start" class="form-label">Date de début</label>
            <input type="date" name="date_start" value="{{ filters.date_start }}" class="form-control" id="date_start">
          </div>
          <div class="col-auto">
            <label for="date_end" class="form-label">Date de fin</label>
            <input type="date" name="date_end" value="{{ filters.date_end }}" class="form-control" id="date_end">
          </div>
        </div>

        <div class="text-end mt-3 ms-5">
          <button type="submit" class="btn btn-primary">Filtrer</button>
          <a href="{% url 'history' submanager.id %}" class="btn btn-secondary">Réinitialiser</a>
        </div>
      </div>
    </form>

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_name }}">
              Nom {% if filters.order_by == 'name' %}↑{% elif filters.order_by == '-name' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_date }}">
              Date {% if filters.order_by == 'date' %}↑{% elif filters.order_by == '-date' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_type }}">
              Type {% if filters.order_by == 'type' %}↑{% elif filters.order_by == '-type' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_coins_number }}">
              Nombre de Pièces {% if filters.order_by == 'coins_number' %}↑{% elif filters.order_by == '-coins_number' %}↓{% endif %}
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for action in history %}
        <tr>
          <td>{{ action.name }}</td>
          <td>{{ action.date|date:"d/m/Y H:i" }}</td>
          <td>{{ action.type|default:"" }}</td>
          <td>{{ action.coins_number }}</td>
          <td><a href="{% url 'confirm_delete_action' action.sub_manager.id action.id%}" class="btn btn-outline-danger btn-sm"> Annuler</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">Aucune action trouvée.</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2" class="text-end">Total de pièces :</td>
          <td colspan="3" class="text-start">{{ total_coins }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

