{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - History
{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-center vh-100">
  <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <p class="text-center">
        <a href="{% url 'submanager_page' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
    </p>
    <h1 class="text-center mt-5">Historique des tâches pour {{ submanager.name }}</h1>
    
    <form method="get" class="mt-4">
      <div class="row">
        <div class="col-md-6">
          <label for="date_start" class="form-label">Date de début :</label>
          <input type="date" name="date_start" value="{{ filters.date_start }}" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="date_end" class="form-label">Date de fin :</label>
          <input type="date" name="date_end" value="{{ filters.date_end }}" class="form-control">
        </div>
      </div>

      <div class="text-end mt-3">
        <button type="submit" class="btn btn-primary">Filtrer</button>
        <a href="{% url 'history' submanager.id %}" class="btn btn-secondary">Réinitialiser</a>
      </div>
    </form>

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_name }}">
              Nom {% if filters.order_by == 'name' %}↑{% elif filters.order_by == '-name' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_date }}">
              Date {% if filters.order_by == 'date' %}↑{% elif filters.order_by == '-date' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_type }}">
              Type {% if filters.order_by == 'type' %}↑{% elif filters.order_by == '-type' %}↓{% endif %}
            </a>
          </th>
          <th scope="col">
            <a href="?order_by={{ filters.reverse_order_coins_number }}">
              Nombre de Pièces {% if filters.order_by == 'coins_number' %}↑{% elif filters.order_by == '-coins_number' %}↓{% endif %}
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for action in history %}
        <tr>
          <td>{{ action.name }}</td>
          <td>{{ action.date|date:"d/m/Y H:i" }}</td>
          <td>{{ action.type|default:"" }}</td>
          <td>{{ action.coins_number }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">Aucune action trouvée.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

