{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - Statistics
{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-center vh-100">
    <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
        <p class="text-center">
            <a href="{% url 'submanager_page' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
        </p>
        <h1 class="text-center mt-5">Statistiques du sous manager {{ submanager.name }}</h1>

        <div class="mt-5">
            <h2>Durée Moyenne des Actions</h2>
            {{ stats.average_duration_by_action|safe }}
        </div>

        <div class="mt-5">
            <h2>Durée Totale des Actions par Jour</h2>
            {{ stats.total_duration_by_day|safe }}
        </div>

        <div class="mt-5">
            <h2>Durée Totale des Actions par Semaine</h2>
            {{ stats.total_duration_by_week|safe }}
        </div>

        <div class="mt-5">
            <h2>Durée Moyenne par Jours de la Semaine</h2>
            {{ stats.average_duration_by_weekday|safe }}
        </div>

        <div class="mt-5">
            <h2>Top 3 des Actions les Plus Fréquentes</h2>
            {{ stats.most_frequent_actions|safe }}
        </div>

        <div class="mt-5">
            <h2>Actions les Plus Longues</h2>
            {{ stats.longest_actions|safe }}
        </div>
    </div>
</div>
<style>
    tr {
        text-align: left !important;
    }
    .table {
        table-layout: fixed;
        width: 100%;  /* Optionnel, si vous souhaitez que la table prenne toute la largeur disponible */
    }
    
</style>
{% endblock %}
