{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - Gérer le sous-manager
{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-center vh-100">
  <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
      <p class="text-center">
        <a href="{% url 'submanager_page' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
      </p>
      <h1 class="text-center mt-5">Gérer le sous manager {{ submanager.name }}</h1>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Types de tâches</h2>
        <ul class="list-group">
          {% for type in tasks_type %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ type.name }}
            </span>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'update_type' submanager.id type.id %}">
              Modifier
            </a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'confirm_delete_type' submanager.id type.id %}">
              Supprimer
            </a>
          </li>
          {% endfor %}
          <a href="{% url 'add_type' submanager.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex align-items-center position-relative p-2 list-group-item-action">
              <span class="text-dark fw-semibold flex-grow-1 text-center">
                Ajouter un type
              </span>
            </li>
          </a>
        </ul>
      </div>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Tâches</h2>
        <ul class="list-group">
          {% for task in tasks %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ task.name }}
            </span>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'update_task' submanager.id task.id %}">
              Modifier
            </a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'confirm_delete_task' submanager.id task.id %}">
              Supprimer
            </a>
          </li>
          {% endfor %}
          <a href="{% url 'add_task' submanager.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex align-items-center position-relative p-2 list-group-item-action">
              <span class="text-dark fw-semibold flex-grow-1 text-center">
                Ajouter une tâche
              </span>
            </li>
          </a>
        </ul>
      </div>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Récompenses</h2>
        <ul class="list-group">
          {% for reward in rewards %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ reward.name }}
            </span>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'update_reward' submanager.id reward.id %}">
              Modifier
            </a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'confirm_delete_reward' submanager.id reward.id %}">
              Supprimer
            </a>
          </li>
          {% endfor %}
          <a href="{% url 'add_reward' submanager.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex align-items-center position-relative p-2 list-group-item-action">
              <span class="text-dark fw-semibold flex-grow-1 text-center">
                Ajouter une recompense
              </span>
            </li>
          </a>
        </ul>
      </div>
      <div class="list-group list-group-flush mb-4">
        <h2 class="text-center mt-5">Nom et Objectifs</h2>
          <form method="POST" class="ms-3 d-flex justify-content-between">
            {% csrf_token %}
            <input type="hidden" name="objectif_id" value="{{ objectif.id }}">
            <div>
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary btn-sm mt-2">Modifier</button>
            </div>
            <a class="btn btn-outline-danger btn-sm mt-2 align-self-end" href="{% url 'desactivate_submanager' submanager.id %}">Désactiver temporairement</a>
            <a class="btn btn-danger btn-sm mt-2 align-self-end" href="{% url 'delete_submanager' submanager.id %}">Supprimer</a>
          </form>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
