{% extends "tasks/base.html" %}
{% load custom_tags %}

{% block title %}
  Task Manager - Gérer le sous-manager
{% endblock %}

{% block content %}
<div class="mt-3 d-flex justify-content-center vh-100">
  <div class="container" style="max-width: 500px; margin-left: auto; margin-right: auto;">
      <p class="text-center">
        <a href="{% url 'submanager_page' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
      </p>
      <h1 class="text-center mt-5">Gérer le sous manager {{ submanager.name }}</h1>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Tâches</h2>
        <ul class="list-group">
          {% for task in tasks %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ task.name }}
            </span>
          </li>
          {% endfor %}
          <a href="{% url 'add_task' submanager.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex align-items-center position-relative p-2 list-group-item-action">
              <span class="text-dark fw-semibold flex-grow-1 text-center">
                Ajouter une tâche
              </span>
            </li>
          </a>
        </ul>
      </div>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Récompenses</h2>
        <ul class="list-group">
          {% for reward in rewards %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ reward.name }}
            </span>
          </li>
          {% endfor %}
          <a href="{% url 'add_reward' submanager.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex align-items-center position-relative p-2 list-group-item-action">
              <span class="text-dark fw-semibold flex-grow-1 text-center">
                Ajouter une recompense
              </span>
            </li>
          </a>
        </ul>
      </div>
      <div class="list-group list-group-flush">
        <h2 class="text-center mt-5">Objectifs</h2>
        <ul class="list-group">
          {% for objectif in objectifs %}
          <li class="list-group-item d-flex align-items-center position-relative p-2">
            <span class="text-dark fw-semibold flex-grow-1 text-center">
              {{ objectif.name }}
            </span>
            <form method="POST" class="ms-3">
              {% csrf_token %}
              <input type="hidden" name="objectif_id" value="{{ objectif.id }}">
              {{ forms|dict_get:objectif.id }}
              <button type="submit" class="btn btn-primary btn-sm mt-2">Modifier</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
