{% extends "tasks/base.html" %}

{% block title %}
  Task Manager - Update type
{% endblock %}

{% block content %}
    <div class="mt-3 d-flex justify-content-center vh-100">
        <div class="container" style="max-width: 1000px; margin-left: auto; margin-right: auto;">
        <p class="text-center">
          <a href="{% url 'sub_manager_options' submanager.id %}" class="btn btn-outline-secondary">Retour</a>
          <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
        </p>
      <h1 class="text-center mt-5"> Modifier le type de tâche  {{ type.name }}</h1>
      <form action="" method="post" class="justify-content-center mt-4">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-between mt-3">
            <input type="submit" value="Ajouter" class="btn btn-primary mx-2">
          </div>
      </form>
    </div>
  </div>
{% endblock %}