{% extends 'registration/base.html' %}

{% block title %}
    Task Manager - Connexion
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="container" style="max-width: 2000px;">
    <div class="row justify-content-center" style="margin-bottom: 20px; margin-top: 30px;">
      <div class="col-auto"><a href="{% url 'signup' %}" class="btn btn-outline-primary btn-lg">S'inscrire</a></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">ou</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <h2 class="text-center mb-4 mt-3">Se connecter</h2>
        <form method="post" class="mt-5 d-flex flex-column align-items-center">
          {% csrf_token %}
          {{ form.as_p }}
          
          <button type="submit" class="btn btn-primary mx-2">Se connecter</button>
          <a href="{% url 'password_reset' %}" class="btn btn-outline-danger mx-2 mt-4">Oubli de mot de passe</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
