{% extends 'registration/base.html' %}

{% block title %}
    Task Manager - Password reset
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container" style="max-width: 2000px;">
      <div class="row justify-content-center">
        <div class="col-lg-5">
            <h2 class="text-center mb-4 mt-3 ">Mot de passe oubli ?</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small mb-1" for="id_email">Email</label>
                    <input type="email" name="email"  class="form-control"
                           autocomplete="email" maxlength="254" required id="id_email"
                           placeholder="Entrez votre email">
                </div>
                <div class="form-group mt-0 mb-1">
                    <button type="submit" class="col-md-12 btn btn-dark">Envoyer
                    </button>
                    <a href="{% url 'signup' %}">Créer un compte</a><br>
                    <a href="{% url 'login' %}">Retour  la page de connexion</a><br>
                </div>
            </form>
        </div>
      </div>
  </div>

</div>
{% endblock %}
