{% extends "registration/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="max-width: 2000px;">
        <h2 class="text-center">Changer le mot de passe</h2>
        <form method="post" class="d-flex flex-column align-items-center">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change" class="btn btn-primary mb-3"/>
        </form>
        <a href="{% url 'home' %}" class="btn btn-outline-primary d-block mx-auto" style="width: fit-content;">Home</a>
    </div>
</div>

{% endblock content %}