{% extends 'registration/base.html' %}

{% block title %}
    Task Manager - Password Reset
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container" style="max-width: 2000px;">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <form method="POST">
                            {% csrf_token %}
                            <label>Nouveau mot de passe</label>
                            <input type="password" name="new_password1" autocomplete="new-password"
                                   class="form-control" required id="id_new_password1" />
                            <label>Confirmation du nouveau mot de passe</label>
                            <input type="password" name="new_password2" autocomplete="new-password"
                                   required id="id_new_password2" class="form-control" />
                            <div>
                                <button type="submit" class="btn btn-dark">Réinitialiser mot de passe</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-warning">
                            Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
                            Veuillez demander une nouvelle réinitialisation du mot de passe.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock content %}